@use "global" as *;

.p-service__title {
  font-size: rem(36);
  font-weight: $bold;
  text-align: center;
  @include mq(md){
    font-size: rem(24);
  }
}

.p-service__contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: rem(46);
  @include mq(md){
    flex-direction: column;
  }
}

.p-service__contents + .p-service__contents {
  margin-top: rem(53);
}

.p-service__content {
  max-width: rem(500);
  width: 100%;
  @include mq(md){
    max-width: rem(600);
  }
}

.p-service__label {
  background-color: $main;
  padding: rem(9) rem(26);
  display: inline-block;
  font-size: rem(12);
  color: $white;
  line-height: 1;
  @include mq(md){
    padding: rem(9);
  }
}

.p-service__copy {
  font-size: rem(26);
  font-weight: $bold;
  line-height: 1.5;
  margin-top: rem(31);
  @include mq(md){
    font-size: rem(20);
    margin-top: rem(10);
  }
}

.p-service__text {
  line-height: 1.6875;
  margin-top: rem(27);
  @include mq(md){
    margin-top: rem(10);
  }
}

.p-service__img {
  position: relative;
  width: 44.445%;
  margin-left: rem(50);
  @include mq(md){
    max-width: rem(600);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(10);
  }
}

.p-service__img::before {
  content: "";
  padding-top: 68.5714286%;
  display: block;
}

.p-service__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.p-service__contents--revers {
  flex-direction: row-reverse;
  @include mq(md){
    flex-direction: column;
  }
}

.p-service__contents--revers .p-service__content {
  margin-left: rem(50);
  @include mq(md){
    margin-left: auto;
    margin-right: auto;
  }
}

.p-service__contents--revers .p-service__img {
  margin-left: 0;
  @include mq(md){
    margin-left: auto;
    margin-right: auto;
  }
}